<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.dita-semia.image-convert">
	
	<feature extension="dita.conductor.target.relative" file="integrator.xml"/>
	<feature extension="depend.preprocess.post"			value="dita-semia.preprocess.image-convert"/>
	<feature extension="dita.conductor.lib.import"		file="lib/RasterizerTask.jar"/>
	<feature extension="dita.conductor.lib.import"		file="lib/batik-all-1.8.jar"/>
	<feature extension="dita.conductor.lib.import"		file="lib/xml-apis-ext.jar"/>
	<!--AR: added pdfbox jars -->
	<feature extension="dita.conductor.lib.import"		file="lib/pdfbox-2.0.3.jar"/>
	<feature extension="dita.conductor.lib.import"		file="lib/fontbox-2.0.3"/>
	<feature extension="dita.conductor.lib.import"		file="lib/xmpbox-2.0.3.jar"/>	
	<!-- sample transtype: xhtml-png -->
	<feature extension="dita.conductor.transtype.check" value="xhtml-png"/>
	<feature extension="dita.transtype.print" 			value="xhtml-png"/>
	
	<transtype name="xhtml-png" extends="xhtml" desc="DITA-SEMIA XHTML with SVG/PDF to PNG"/>

</plugin>
